@import url(rainbow.css);
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {

	background-color: #ed0101;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

.button9{
	background-color: aqua;
}

.button5{background-color: beige;}

.button7{background-color: #10ae8a;}

.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }

  #morecontent {
	background-color: yellow;
  }

  #hireButtons {color: #ed0101;
	background-color: rgb(43, 123, 89);
	border-radius: 20%;
}


	*{
		color: rgb(152, 101, 38);
	
	}
	#card {width: 100%;}