table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #cb19b0 ;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #b3ff0048;
	text-align: center;
<<<<<<< HEAD
	background-color:#9FBCCD; 
=======
	background-color:#000000  ; 
>>>>>>> 060de6969345ad5807fb5417dd121fed4c1e474e
}

th {
	text-align: center;
	color: #ff0000;
	background-color: #9a101068;


		
	
}