@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');
#gallery {
    font-family: "Yuji Mai", serif;
    line-height: 1.5em;
    text-align: center;
  }
.container {
    display: inline-block;
    margin: 3%;
    perspective: 1000px;
}
.flipper {
    position: relative;    
    transition: 1s;
    transform-style: preserve-3d;
}
.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backface-visibility: hidden;
}
.front{
    z-index:2;
}

.back{
    transform:rotateY(180deg);
}
img {
    width: 100%;
}
.container, .front, .back {
    width: 150px;
    height: 200px;
}
.container:hover .flipper {
    transform: rotateY(180deg);
}
a {
    color: red;
}
.caption, .back h1 {
    font-family: "Yuji Mai", serif;
    font-size: 1em;
    padding: 10px 10px 0 10px;
    margin: 0;
    text-align: center;
}
p.caption {
    position: absolute;
    bottom: 1vh;
} 
.description {
    font-size: .5em;
    padding: 0 30px 30px 30px;
    text-align: left;
}
.yuji-mai-regular {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
  