table {
    font-family: "Marker Felt", "Arial", fantasy;
    color: #c8b919;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 5px;
}

tr {
    border: 5px solid #3570d0;
    text-align: center;
    background-color:#3d78cc; 
}

th {
    text-align: center;
    color: #d61313;
    background-color: #30b1c2;
}
body {

    background-image: "image/The Strokes"; 

    background-size: cover; /* Optional: Make image cover the entire page */

}