

/*<link rel="stylesheet_v4a" href="V4a_Classes_andIDs.css">  USE THIS FOR LINKING STYLE SHEET FOR V4*/



a {
    color: white;
    font-family: "Orbitron", sans-serif;
}
b {
    color: rgb(0, 0, 0);
    font-family: "Orbitron", sans-serif;
}
.container {
    display: inline-block;
    margin: 3%;
    perspective: 1000px;
}
.containerL {
    display: inline-block;
    margin: 5%;
    perspective: 1200px;
}