table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #7400da;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ff6a00;
	text-align: center;
	background-color:#ff0000; 
}

th {
	text-align: center;
	color: #4400ff;
	background-color: #00ff40;
}